select {
  font-size: 16px;
}

#vabs__bookingContainer {
  font-size: 16px;
}
#vabs__bookingContainer h3 {
  font-size: 1.4em;
  font-weight: bold;
}
#vabs__bookingContainer h5 {
  font-size: 1.2em;
}

.flatpickr-current-month {
  padding-top: 0 !important;
}

/* MAP */
.vabs__container {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.vabs__container #errorMessage {
  padding-top: 20px;
}

.row {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
}

.dateFrom {
  width: 250px !important;
}

#locationSelect {
  padding-bottom: 15px;
}

#vabs__leafLetMap {
  width: 100%;
  height: 480px;
  border-radius: 10px !important;
  margin-top: 20px;
  display: none;
}

#vabs__flexMap {
  width: 100%;
  height: 480px;
  border-radius: 15px;
  position: relative;
  display: none;
}
#vabs__flexMap .vabs__flexContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #abd3e0;
  z-index: 400;
  border-radius: inherit;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexTopContainer {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45%;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexTopContainer .vabs__flexHeadline {
  position: absolute;
  text-align: center;
  font-size: 2.4rem;
  top: 10%;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexTopContainer .vabs__flexBtnBack {
  position: absolute;
  right: 15px;
  top: 15px;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer {
  background-color: #f2e9ac;
  min-width: 100%;
  grid-template-columns: repeat(1, 1fr);
  height: 60%;
  overflow: auto;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows {
  padding: 2rem;
  background-color: #f2e9ac;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow .flexChair {
  height: 55px;
  width: 55px;
  margin-right: 0.4rem;
  background-color: yellowgreen;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow .flexChair .flexChairNumber {
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  font-size: 18px;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow .flexChair .flexChairType {
  font-weight: bold;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow .flexChair .flexChairRowName {
  font-weight: bold;
  font-size: 10px;
  height: 12px;
  line-height: 12px;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow .flexChair i {
  position: absolute;
  top: -8px;
  right: -8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: black;
  z-index: 100;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow .booked {
  background-color: red;
  color: white;
  opacity: 1;
  cursor: not-allowed;
}

#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow .inactive {
  background-color: black;
  color: white;
  opacity: 1;
  cursor: not-allowed;
}

#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .flexRow .offline {
  background-color: #333;
  color: white;
  opacity: 1;
  cursor: not-allowed;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .notOnline .flexChair {
  background-color: dimgrey !important;
  color: white;
  cursor: not-allowed;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .rtl {
  flex-direction: row-reverse;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .L2R {
  justify-content: flex-start;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .R2L {
  justify-content: flex-end;
}
#vabs__flexMap .vabs__flexContainer .vabs__flexRowContainer .vabs__flexRows .Center {
  justify-content: center;
}

#vabs__chair-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 200;
}
#vabs__chair-card .vabs__chair-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  border-radius: 0.4rem;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#vabs__chair-card .vabs__chair-container .vabs__btnChairClose {
  margin: 5px;
  left: 50%;
}
#vabs__chair-card .vabs__chair-container .vabs__chair-header {
  background-color: #f5f5f5;
  height: 160px;
  min-height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#vabs__chair-card .vabs__chair-container .vabs__chair-body {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#vabs__shoppingCartContainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  background-color: #EFEFEF;
  padding: 20px;
}
#vabs__shoppingCartContainer #shoppingCartDateTimeRange {
  font-weight: bold;
}
#vabs__shoppingCartContainer label {
  cursor: pointer;
}
#vabs__shoppingCartContainer #vabs__shoppingCartHeader, #vabs__shoppingCartContainer #vabs__shoppingCartList {
  position: relative;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#vabs__shoppingCartContainer #vabs__shoppingCartHeader ul, #vabs__shoppingCartContainer #vabs__shoppingCartList ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#vabs__shoppingCartContainer #vabs__shoppingCartHeader ul li, #vabs__shoppingCartContainer #vabs__shoppingCartList ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#vabs__shoppingCartContainer #vabs__shoppingCartHeader ul li strong, #vabs__shoppingCartContainer #vabs__shoppingCartList ul li strong {
  margin: 0;
  display: block;
  text-transform: none;
}
#vabs__shoppingCartContainer #vabs__shoppingCartHeader ul li em, #vabs__shoppingCartContainer #vabs__shoppingCartList ul li em {
  font-size: 10px;
  margin-top: 1px;
}
#vabs__shoppingCartContainer #vabs__shoppingCartHeader ul li:last-child, #vabs__shoppingCartContainer #vabs__shoppingCartList ul li:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}
#vabs__shoppingCartContainer input {
  margin-right: 1rem;
}

#vabs__btnOrderNow {
  background-color: #198754 !important;
  color: white;
}

#vabs__personalDataContainer {
  margin-top: 20px;
}
#vabs__personalDataContainer input {
  width: 100%;
}

.form-check-input {
  width: 16px !important;
}

#vabs__paymentSection {
  vertical-align: middle !important;
  line-height: 32px;
}

.no-padding-left {
  padding-left: 0;
}

.flatpickr-month, .flatpickr-monthDropdown-months {
  height: 50px !important;
}

.flatpickr-next-month .flatpickr-next-month {
  padding: 5px !important;
}

.seasonDescription td {
  font-size: 0.8em;
}

/*# sourceMappingURL=public.css.map */
